{% extends 'base.html.twig' %}

{% block title %}Mijn vacatures | VAC!T{% endblock %}

{% block content %}
  <table id="my-jobs" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Vacature</th>
        <th>Niveau</th>
        <th>Sollicitaties</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td>{{ job.date|date("d-m-Y") }}</td>
          <td>{{ job.title }}</td>
          <td>{{ job.level.level }}</td>
          <td>
            {{ job.applications|length }}
            {% if job.applications|length > 0 %}
              <a href="{{ path('job_applications', { 'id': job.id }) }}">bekijk</a>
            {% endif %}
          </td>
          <td>
            <button id="{{ job.id }}" class="remove job">
              verwijder
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
