{% extends 'base.html.twig' %}

{% block title %}Mijn vacatures | VAC!T{% endblock %}

{% block content %}
<div class="cell medium-1"></div>
<div class="cell medium-10 small-12">
  <h2>Mijn Vacatures</h2>
  <a class="create" href="{{ path('new_job') }}">
    <i class="fas fa-plus"></i>
    Nieuw
  </a>
  <table id="my-jobs" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Vacature</th>
        <th>Niveau</th>
        <th>Sollicitaties</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr id="{{ job.id }}">
          <td>{{ job.date|date("Y-m-d") }}</td>
          <td>{{ job.title }}</td>
          <td>{{ job.level.level }}</td>
          <td>
            {{ job.applications|length }}
            {% if job.applications|length > 0 %}
              <a href="{{ path('job_applications', { 'id': job.id }) }}">
                <i class="fas fa-arrow-right"></i>
              </a>
            {% endif %}
          </td>
          <td>
            <a href="{{ path('edit_job', { 'id': job.id }) }}">
              <i class="fas fa-edit"></i>
            </a>
            <button class="remove job">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="cell small-1"></div>
{% endblock %}
