{% extends 'base.html.twig' %}

{% block title %}{{ job.title }} | VAC!T{% endblock %}

{% block content %}
<div class="cell medium-1"></div>
<div class="cell medium-10 small-12">
  {% if job is not empty %}
    <div>{{ job.date|date("d-m-Y") }}</div>
    <h3>{{ job.title }} voor {{job.employer.name}}</h3>
    <ul>
      <li>Niveau: {{ job.level.level }}</li>
      <li>Plaats: {{ job.city.name }}</li>
    </ul>

    <p>{{ job.description }}</p>

    {% if is_granted('ROLE_CANDIDATE') %}
      <form action="{{ path('apply') }}" method="post">
        <input type="hidden" name="id" value="{{job.id}}">
        <input type="submit" value="Solliciteer direct">
      </form>
    {% endif %}

    <h4>Meer vacatures van {{job.employer.name}}:</h4>
    <table id="employer-jobs" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Vacature</th>
          <th>Niveau</th>
        </tr>
      </thead>
      <tbody>
        {% for job in job.employer.jobs %}
          <tr>
            <td>{{ job.date|date("d-m-Y") }}</td>
            <td>{{ job.title }}</td>
            <td>{{ job.level.level }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    Vacature niet gevonden...
  {% endif %}
</div>
<div class="cell small-1"></div>
{% endblock %}
