{% extends 'base.html.twig' %}

{% block title %}{{ job.title }} | VAC!T{% endblock %}

{% block content %}
  {% if job is not empty %}
    <div>{{ job.date|date("d/m/Y") }}</div>
    <h3>{{ job.title }} voor {{job.employer.name}}</h3>
    <ul>
      <li>Niveau: {{ job.level.level }}</li>
      <li>Plaats: {{ job.city.city }}</li>
    </ul>

    <p>{{ job.description }}</p>

    {% if is_granted('ROLE_CANDIDATE') %}
      <p>[SOLLICITEER DIRECT]</p>
    {% endif %}

    <h4>Meer vacatures van {{job.employer.name}}:</h4>
    {% for job in job.employer.jobs %}
      <ul>
        <li>Datum: {{ job.date|date("d/m/Y") }}</li>
        <li>Vacature: {{ job.title }}</li>
        <li>Niveau: {{ job.level.level }}</li>
      </ul>
    {% endfor %}
  {% else %}
    Vacature niet gevonden...
  {% endif %}
{% endblock %}
