{% extends 'base.html.twig' %}

{% block title %}{{ job.title }} | VAC!T{% endblock %}

{% block content %}
<div class="cell medium-1"></div>
<div class="cell medium-10 small-12">
  {% if job is not empty %}
    <div>{{ job.date|date("d-m-Y") }}</div>
    <h3>{{ job.title }} voor {{job.employer.name}}</h3>

    <div class="grid-x">
      <div class="cell auto">
        <h4><em>Niveau:</em> {{ job.level.level }}</h4>
      </div>
      <div class="cell auto text-right">
        <h4><em><i class="fas fa-map-marker-alt"></i></em> {{ job.city.name }}</h4>
      </div>
    </div>

    <p>{{ job.description }}</p>

    {% if is_granted('ROLE_CANDIDATE') %}
      <form action="{{ path('apply') }}" method="post">
        <input type="hidden" name="id" value="{{job.id}}">
        <button type="submit">
          <i class="fas fa-arrow-right"></i> Solliciteer direct
        </button>
      </form>
      <br>
    {% endif %}

    <h4>Meer vacatures van <em>{{job.employer.name}}</em></h4>
    <table id="employer-jobs" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Vacature</th>
          <th>Niveau</th>
        </tr>
      </thead>
      <tbody>
        {% for job in job.employer.jobs %}
          <tr>
            <td>{{ job.date|date("d-m-Y") }}</td>
            <td>
              <a href="{{ path('job_show', { 'id': job.id }) }}">
                {{ job.title }}
              </a>
            </td>
            <td class="level">{{ job.level.level }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    Vacature niet gevonden...
  {% endif %}
</div>
<div class="cell small-1"></div>
{% endblock %}
