{% extends 'base.html.twig' %}

{% block title %}
  {% if application is not null %}
    Sollictatie {{ application.job.title }} | VAC!T
  {% else %}
    Vacaturesite voor IT | VAC!T
  {% endif %}
{% endblock %}

{% block content %}
<div class="cell medium-1"></div>
<div class="cell medium-10 small-12">
  {% if application is not null %}
    <p>
      Bedankt voor je sollicitatie op de vacature voor {{ application.job.title }}
      bij {{ application.job.employer.name }}.
    </p>
    <p>
      Wanneer de werkgever je heeft uitgenodigd voor een gesprek, zal dit zichtbaar
      worden onder '<a href="{{ path('my_applications') }}">Mijn Sollicitaties</a>'.
      <br>
      We wensen je veel succes met je sollicitatie!
    </p>
  {% else %}
    <p>
      Je hebt al eerder op deze vacature gesolliciteerd. Bekijk
      '<a href="{{ path('my_applications') }}">Mijn Sollicitaties</a>' voor een overzicht.
    </p>
  {% endif %}
</div>
<div class="cell small-1"></div>
{% endblock %}
