{% extends 'base.html.twig' %}

{% block title %}
  {% if applications is not empty %}
    Sollicitaties voor {{applications|first.job.title}} | VAC!T#
  {% else %}
    Vacaturesite voor IT | VAC!T#
  {% endif %}
{% endblock %}

{% block content %}
  {% if applications is not empty %}
  <h3>Sollicitaties voor {{ applications|first.job.title }}</h3>
  <table id="job-applications" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Kandidaat</th>
        <th>Uitgenodigd</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
        <tr id="{{ application.id }}">
          <td>{{ application.date|date("d-m-Y") }}</td>
          <td>
            {{ application.candidate.name }},
            {{ application.candidate.firstName}}
          </td>
          <td>{{ application.invitation|inviteAction|raw }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h3>
      Geen sollicitaties gevonden
    </h3>
  {% endif %}
{% endblock %}
