{% extends 'base.html.twig' %}

{% block title %}
  {% if applications is not empty %}
    Sollicitaties voor {{applications|first.job.title}} | VAC!T#
  {% else %}
    Vacaturesite voor IT | VAC!T#
  {% endif %}
{% endblock %}

{% block content %}
<div class="cell medium-1"></div>
<div class="cell medium-10 small-12">
  {% if applications is not empty %}
  <h2>Sollicitaties voor {{ applications|first.job.title }}</h2>
  <table id="job-applications" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Kandidaat</th>
        <th>Uitgenodigd</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
        <tr id="{{ application.id }}">
          <td>{{ application.date|date("Y-m-d") }}</td>
          <td>
            <a href="{{ path('show_candidate', { 'id': application.candidate.id }) }}">
              {{ application.candidate.name }},
              {{ application.candidate.firstName}}
            </a>
          </td>
          <td class="invitation">{{ application.invitation|inviteAction|raw }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h3>
      Geen sollicitaties gevonden
    </h3>
  {% endif %}
</div>
<div class="cell small-1"></div>
{% endblock %}
