{% extends 'base.html.twig' %}

{% block title %}
  Mijn sollicitaties | VAC!T
{% endblock %}

{% block content %}
<div class="cell medium-1"></div>
<div class="cell medium-10 small-12">
  <h2>Mijn Sollicitaties</h2>
  {% if applications is not empty %}
  <table id="my-applications" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Vacature</th>
        <th>Werkgever</th>
        <th>Uitgenodigd</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
        <tr id="{{ application.id }}">
          <td>{{ application.date|date("d-m-Y") }}</td>
          <td>
            <a href="{{ path('job_show', { 'id': application.job.id }) }}">
              {{ application.job.title }}
            </a>
          </td>
          <td>
            <a href="{{ path('show_employer', { 'id': application.job.employer.id }) }}">
              {{ application.job.employer.name }}
            </a>
          </td>
          <td class="invitation">{{ application.invitation|invitationStatus|raw }}</td>
          <td>
            <button class="remove application">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>
      Je hebt nog geen sollicitaties gedaan.
    </p>
  {% endif %}
</div>
<div class="cell small-1"></div>
{% endblock %}
