{% extends 'base.html.twig' %}

{% block title %}
  Mijn sollicitaties | VAC!T
{% endblock %}

{% block content %}
  {% if applications is not empty %}
    {% for application in applications %}
      <div class="application">
        {{ application.date|date("d-m-Y") }} -
        {{ application.job.title }} -
        {{ application.job.employer.name }} -
        {{ application.invitation | show_checkmark }} -
        <button class="remove-application" id="{{ application.id }}">
          x
        </button>
      </div>
    {% endfor %}
  {% else %}
    <p>
      Je hebt nog geen sollicitaties gedaan.
    </p>
  {% endif %}
{% endblock %}
