{% extends 'base.html.twig' %}

{% block title %}Vacaturesite voor IT | VAC!T{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block content %}
<div class="cell medium-3"></div>
<div class="cell medium-9 small-12">
  <div class="grid-x">
    {% for job in jobs %}
      <div class="cell medium-2 small-3">
        <div class="platform float-right">
          <i class="{{ job.platform.icon }}"></i>
        </div>
      </div>
      <div class="cell medium-8 small-9 job">
        <span class="date">{{ job.date|date("d-m-Y") }}</span>
        <h4 class="title">{{ job.level.level }} {{ job.title }}</h4>
        <p class="description">{{ job.description|raw }}</p>
      </div>
      <div class="cell small-3 show-for-small-only"></div>
      <div class="cell medium-2 small-9 align-self-middle">
        <div class="goto">
          <a href="{{ path('job_show', { 'id': job.id }) }}">
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
