{% extends 'base.html.twig' %}

{% block title %}Vacaturesite voor IT | VAC!T{% endblock %}

{% block content %}
<div class="cell medium-1"></div>
<div class="cell medium-10 small-12">
  {% for job in jobs %}
    <div class="job">
      <h3>{{ job.level.level }} {{ job.title }}</h3>
      <ul>
        <li>{{ job.employer.name }}</li>
        <li>{{ job.city.name }}</li>
        <li>
          <a href="{{ path('job_show', { 'id': job.id }) }}">
            go to
          </a>
        </li>
      </ul>
    </div>
  {% endfor %}
</div>
<div class="cell small-1"></div>
{% endblock %}
