<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.dataTables.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/foundation.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/richtext.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/vacit-main.css') }}">
    </head>
    <body class="{% block body_class %}{% endblock %}">
      <header>
        <div class="grid-x">
          <div class="cell small-3 align-self-top">
            <a href="{{ path('homepage') }}">
              <img id="logo" src="{{ asset('assets/images/logo_white.png') }}">
            </a>
          </div>
          <div class="cell small-9 align-self-bottom">
            <ul class="vertical medium-horizontal menu align-right hide-for-small-only" id="menu">
              {{ include('nav.html.twig') }}
            </ul>
            <ul class="menu align-right show-for-small-only">
              <li>
                <a id="expand-menu"><i class="fas fa-bars fa-2x"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="shadow-wrap">
          <div class="orangenament"></div>
        </div>
      </header>


      <div class="grid-x grid-padding-x main-content ">
        {% block content %}{% endblock %}
      </div>


      <footer id="footer">
        <div class="shadow-wrap">
          <div class="orangenament"></div>
        </div>
        <div class="grid-x grid-padding-x">
          <div class="cell medium-shrink small-6 align-self-middle">
            <img id="logo" src="{{ asset('assets/images/logo_white.png') }}">
          </div>
          <div class="cell medium-shrink small-6 align-self-middle">
            <div class="grid-x grid-padding-x grid-padding-y">
              <div class="cell medium-shrink small-12">
                <h4>Adres</h4>
                <span class="caption">
                  Poststraat 2B
                </span>
                <br>
                <span class="caption">
                  6135 KR Sittard
                </span>
              </div>
              <div class="cell medium-shrink small-12">
                <h4>Privacy</h4>
                <span class="caption">
                  Deze is min of meer gewaarborgd
                </span>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}"></script>
      <script type="text/javascript" src="{{ asset('assets/js/jquery.richtext.js') }}"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="{{ asset('assets/js/foundation.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('assets/js/SimpleAjaxUploader.min.js') }}"></script>
      <script src="https://kit.fontawesome.com/ea1751526e.js"></script>
      <script>
        {{ include('scripts.js.twig') }}
      </script>
    </body>
</html>
