<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/vacit-main.css') }}">
    </head>
    <body>
      <header>
        <div class="grid-x">
          <div class="cell small-3">
            <a href="{{ path('homepage') }}">
              [LOGO]
            </a>
          </div>
          <div class="cell small-9">
            <ul class="vertical medium-horizontal menu align-right hide-for-small-only" id="menu">
              {{ include('nav.html.twig') }}
            </ul>
            <ul class="menu align-right show-for-small-only">
              <li>
                <a id="expand-menu"><i class="fas fa-bars fa-2x"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <div class="grid-x grid-padding-x grid-padding-y">
        {% block content %}{% endblock %}
      </div>

      <footer>
        <div class="logo">[LOGO]</div>
        <div>[ADRES]</div>
        <div>[PRIVACY]</div>
      </footer>
      <script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
      <script type="text/javascript" src="{{ asset('assets/js/foundation.min.js') }}"></script>
      <script src="https://kit.fontawesome.com/ea1751526e.js"></script>
      <script>
        {{ include('scripts.js.twig') }}
      </script>
    </body>
</html>
