{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
  <li>
    <a href="{{ path('edit_profile') }}">
      Mijn Profiel
    </a>
  </li>
  {% if is_granted('ROLE_EMPLOYER') %}
    <li>
      <a href="{{ path('my_jobs') }}">
        Mijn Vacatures
      </a>
    </li>
  {% elseif is_granted('ROLE_CANDIDATE') %}
    <li>
      <a href="{{ path('my_applications') }}">
        Mijn Sollicitaties
      </a>
    </li>
  {% endif %}
  <li>
    <a href="{{ path('fos_user_security_logout') }}">
      Uitloggen
    </a>
  </li>
{% else %}
  <li>
    <a href="{{ path('fos_user_registration_register') }}">
      Registreren
    </a>
  </li>
  <li>
    <a href="{{ path('fos_user_security_login') }}">
      Inloggen
    </a>
  </li>
{% endif %}
