{% if is_granted('ROLE_EMPLOYER') %}
    [MIJN PROFIEL] [MIJN VACATURES] [UITLOGGEN]
{% elseif is_granted('ROLE_CANDIDATE') %}
    [<a href="{{ path('profile') }}">
      MIJN PROFIEL
    </a>]
    [<a href="{{ path('my_applications') }}">
      MIJN SOLLICITATIES
    </a>]
    [<a href="{{ path('fos_user_security_logout') }}">
      UITLOGGEN
    </a>]
{% else %}
    <a href="{{ path('fos_user_registration_register') }}">
      [REGISTREREN]
    </a>
    <a href="{{ path('fos_user_security_login') }}">
      [INLOGGEN]
    </a>
{% endif %}
