{% extends 'base.html.twig' %}

{% block title %}VAC!T - Vacaturesite voor IT{% endblock %}

{% block content %}
<div class="cell medium-2 small-3">

  {% if user.pictureFilename is null %}
    <div id="upload-picture" class="user-picture">
      <div class="text">
        <i class="fas fa-upload"></i> upload<br>
        afbeelding
      </div>
    </div>
  {% else %}
    <div id="upload-picture" class="user-picture"
         style="background-image: url('{{ asset('upload_files') }}/{{ user.pictureFilename }}');
                background-size: cover"></div>
  {% endif %}
</div>
<div class="cell medium-9 small-9">
  <h2>Mijn Profiel</h2>
  <form action="{{ path('edit_profile') }}" method="post">
    <input id="input-picture" type="hidden" name="picture_filename" value="{{ user.pictureFilename }}">
    <div class="grid-x">
      {% if is_granted('ROLE_CANDIDATE') %}
        {{ include('user/fields_candidate.html.twig') }}
      {% elseif is_granted('ROLE_EMPLOYER') %}
        {{ include('user/fields_employer.html.twig') }}
      {% endif %}
    </div>
  </form>
</div>
<div class="cell small-1"></div>
{% endblock %}
